# Iranian Family Data Mining

**By Avestura @ avestura.dev**

Mail: me@avestura.dev

For: IUST Data Mining Course Homework

In [2]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from pandas.core.frame import DataFrame
from datetime import datetime

In [3]:
# Download this from http://mashghema.ir/500000FamilySample-990402.rar
data = pd.read_csv("500000FamilySample-990402.csv")

In [4]:
# Configuration

pd.set_option('display.max_rows', 1000)
pd.options.display.max_rows = 300
pd.options.display.min_rows = 50
pd.options.display.float_format = '{:.2f}'.format

### میانگین درآمد افراد هر شهر در ماه

In [5]:
data_county_grouped = data.groupby(by="CountyName")[["Daramad_Total_Rials"]]
data_county_grouped_mean = data_county_grouped.mean()
sorted_data_county = data_county_grouped_mean.sort_values(ascending=False, by="Daramad_Total_Rials")

sorted_data_county

                  Daramad_Total_Rials
CountyName
جم                        12889368.89
بهاباد                    12205119.38
سنندج                     11745850.57
دیر                       11365977.50
خور و بیابانک             10753482.57
زنجان                     10491872.67
شهربابک                   10344711.51
جاسک                       9912103.11
تهران                      9786858.09
بندرلنگه                   9703964.40
ابوموسی                    9688863.33
کوهبنان                    9658000.49
همدان                      9357320.93
بوشهر                      9166158.36
بندرعباس                   9096699.10
لنجان                      9077219.09
قزوین                      8941434.50
نایین                      8872801.50
سوادکوه                    8824592.20
شهرکرد                     8793848.28
بافق                       8748112.62
یزد                        8453852.86
شاهرود                     8405344.71
قروه                       8395403.48
خرم آباد                   8389993.85
...                               ...
رشتخوار                    1323812.62
ریگان                      1310902.46
فهرج                       1300228.43
زهک                        1283157.51
باشت                       1270900.30
باخرز                      1254619.81
خداآفرین                   1253014.22
پلدشت                      1202995.02
راز و جرگلان               1046362.97
مه ولات                    1035878.69
زاوه                        977794.04
فاریاب                      930205.83
مراوه تپه                   874336.16
سلسله                       800000.00
رودبارجنوب                  439511.87
هیرمند                      425447.86
هامون                       311111.11
مهران                            0.00
مهرستان                          0.00
سرپل ذهاب                        0.00
رومشکان                          0.00
سیب و سوران                      0.00
دالاهو                           0.00
بو یین و میاندشت                 0.00
سیریک                            0.00

[422 rows x 1 columns]

### تعداد اعضای دارای بیماری خاص استان تهران به تفکیک شهر و وضعیت بهزیستی

In [6]:
data_tehran = data[data["ProvinceName"] == "تهران"]

In [7]:
data_tehran_group_city_behzisti = data_tehran.groupby(by=["CountyName", "IsBehzisti_Malool"])

data_tehran_group_city_behzisti[["IsBimarkhas"]].sum()

                              IsBimarkhas
CountyName IsBehzisti_Malool
اسلامشهر   0                           17
           1                            1
بهارستان   0                            6
           1                            3
تهران      0                          479
           1                           58
دماوند     0                            4
           1                            1
رباطکریم   0                           10
           1                            3
ری         0                           11
           1                            8
شمیرانات   0                            6
           1                            5
شهریار     0                           22
           1                            0
فیروزکوه   0                            1
           1                            0
قدس        0                            6
           1                            1
قرچک       0                            1
           1                            0
ملارد      0                            8
           1                            3
ورامین     0                           14
           1                            2
پاکدشت     0                           14
           1                            1
پردیس      0                            3
           1                            0
پیشوا      0                            1
           1                            0

### تعداد پروانه های صنفی افراد شهرنشین در استان مازندران به تفکیک شهر و سال تولد

In [23]:
condition = (data["ProvinceName"] == "مازندران") & (data["IsUrban"] == 1)

In [24]:
data_mazandaran = data[condition]
data_mazandaran["IsSenf"] = data_mazandaran["SenfName"].map(lambda x: 0 if pd.isna(x) else 1)

In [25]:
def get_year(date: str):
    date_time_obj = datetime.strptime(date, "%Y-%m-%d")
    return date_time_obj.year

data_mazandaran["BirthYear"] = data_mazandaran["BirthDate"].map(lambda x: get_year(x))
data_mazandaran_grouped_city_birth = data_mazandaran.groupby(by=["CountyName", "BirthYear"])
data_mazandaran_grouped_city_birth[["IsSenf"]].sum().sort_values(by=["IsSenf"], ascending=False)

                         IsSenf
CountyName    BirthYear
ساری          1979           25
              1966           21
              1982           19
آمل           1971           18
              1976           18
              1968           18
ساری          1986           17
              1980           16
آمل           1974           16
قایم شهر      1985           16
بابل          1984           15
آمل           1970           15
بابل          1975           15
ساری          1981           15
              1983           15
              1985           15
              1984           14
بابل          1964           14
آمل           1966           14
قایم شهر      1984           14
آمل           1958           14
بابل          1972           14
ساری          1969           14
              1968           14
              1978           14
...                         ...
سوادکوه       1991            0
              1990            0
              1988            0
              1987            0
              2004            0
              2006            0
سوادکوه شمالی 1969            0
سوادکوه       2016            0
سوادکوه شمالی 1967            0
              1963            0
              1954            0
              1953            0
              1949            0
سوادکوه       2018            0
              2017            0
              2015            0
              2007            0
              2014            0
              2013            0
              2012            0
              2011            0
              2010            0
              2009            0
              2008            0
گلوگاه        2018            0

[1702 rows x 1 columns]

به تفکیک شهر

In [26]:
data_mazandaran_grouped_city = data_mazandaran.groupby(by=["CountyName"])
data_mazandaran_grouped_city[["IsSenf"]].sum().sort_values(by=["IsSenf"], ascending=False)

               IsSenf
CountyName
ساری              439
آمل               420
بابل              377
قایم شهر          277
تنکابن            184
بهشهر             153
نور                98
نوشهر              95
رامسر              65
بابلسر             40
سوادکوه            36
عباس آباد          31
نکا                30
چالوس              28
محمودآباد          18
فریدونکنار         13
میاندورود          13
گلوگاه             11
جویبار             10
سیمرغ               2
سوادکوه شمالی       1
کلاردشت             0

به تفکیک سال تولد

In [27]:
data_mazandaran_grouped_birthyear = data_mazandaran.groupby(by=["BirthYear"])
data_mazandaran_grouped_birthyear[["IsSenf"]].sum().sort_values(ascending=False, by=["IsSenf"])

           IsSenf
BirthYear
1981           86
1985           85
1984           80
1980           77
1983           76
1968           73
1979           70
1982           70
1971           66
1973           65
1977           64
1976           64
1986           63
1966           63
1978           62
1969           61
1974           59
1965           57
1975           57
1972           56
1963           56
1964           54
1989           53
1970           51
1962           50
1960           49
1987           49
1958           48
1967           45
1961           43
1955           41
1990           38
1988           35
1956           34
1957           32
1959           30
1991           25
1951           22
1954           20
1947           19
1992           18
1949           17
1952           16
1993           14
1950           13
1948           13
1945           11
1953           10
1944            8
1941            7
1994            7
1946            7
1942            6
1943            6
1940            4
1998            4
1936            4
1934            4
1927            3
1935            3
1939            2
1933            2
1997            2
1995            2
1938            2
1937            2
1999            1
1996            1
1929            1
1932            1
1925            1
1930            1
2018            0
2014            0
2015            0
2013            0
2017            0
2016            0
2006            0
2012            0
2011            0
2010            0
2009            0
2008            0
2007            0
1921            0
2005            0
2004            0
2003            0
2002            0
2001            0
2000            0
1922            0
1931            0
1928            0
1926            0
1924            0
1923            0
2019            0

### مقدار واریزی افراد به تفکیک سال، استان، جنسیت و وضعیت شهر نشینی

In [45]:
data["VariziAll"] = data["Variz95"] + data["Variz96"] + data["Variz97"]

In [49]:
data_group_province_sex_rural = data.groupby(by=["ProvinceName", "Gender", "IsUrban"])

data_group_province_sex_rural[["Variz95", "Variz96", "Variz97", "VariziAll"]].sum()

                                            Variz95          Variz96  \
ProvinceName        Gender IsUrban
آذربایجان شرقی      زن     0           690997500000    1023167500000
                           1          7256835000000    9825587500000
                    مرد    0          5607597500000    6942452500000
                           1         33655485000000   39028872500000
آذربایجان غربی      زن     0           705227500000    1007382500000
                           1          4319217500000    5973475000000
                    مرد    0          6229060000000    7635537500000
                           1         21165382500000   24730185000000
اردبیل              زن     0           203032500000     331657500000
                           1          1446610000000    2200285000000
                    مرد    0          1664590000000    2162505000000
                           1          7452650000000    9294010000000
اصفهان              زن     0          1188717500000    1691372500000
                           1         14857930000000   19252787500000
                    مرد    0          4762467500000    5746435000000
                           1         51080260000000   58397892500000
البرز               زن     0           365607500000     449937500000
                           1          5132592500000    6656202500000
                    مرد    0           983605000000    1178130000000
                           1         14320835000000   16548487500000
ایلام               زن     0             2040000000       3007500000
                           1            26912500000      44290000000
                    مرد    0            20052500000      24810000000
                           1            62432500000      72190000000
بوشهر               زن     0            22367500000      31837500000
                           1           242845000000     299277500000
                    مرد    0           173600000000     204142500000
                           1           690965000000     823402500000
تهران               زن     0          3921980000000    4989902500000
                           1         74047287500000   87987760000000
                    مرد    0         12113292500000   13753712500000
                           1        203658047500000  224497795000000
خراسان جنوبی        زن     0           246967500000     334542500000
                           1          1176925000000    1715965000000
                    مرد    0          1125640000000    1457642500000
                           1          4368977500000    5452112500000
خراسان رضوی         زن     0          1915842500000    2784902500000
                           1         14280645000000   19583497500000
                    مرد    0          8032207500000   10140487500000
                           1         49166550000000   58479802500000
خراسان شمالی        زن     0           240702500000     398367500000
                           1          1396505000000    1965267500000
                    مرد    0          1057515000000    1449785000000
                           1          4409087500000    5315887500000
خوزستان             زن     0          1152982500000    1702182500000
                           1          8920707500000   12459232500000
                    مرد    0          5530492500000    6854862500000
                           1         30833807500000   37214637500000
زنجان               زن     0            10747500000      14805000000
                           1           212017500000     283857500000
                    مرد    0            43267500000      50747500000
                           1           639432500000     708290000000
سمنان               زن     0            21365000000      31862500000
                           1           332527500000     482635000000
                    مرد    0            95155000000     101932500000
                           1           951630000000    1142067500000
سیستان و بلوچستان   زن     0            24540000000      24012500000
                           1           260170000000     382460000000
                    مرد    0            83115000000     105580000000
                           1           700480000000     819187500000
فارس                زن     0          1877962500000    2677905000000
                           1         14993085000000   19922770000000
                    مرد    0          7650732500000    9252320000000
                           1         43976197500000   51136947500000
قزوین               زن     0            37512500000      49197500000
                           1           543200000000     764327500000
                    مرد    0           162710000000     202790000000
                           1          1593652500000    1888025000000
قم                  زن     0           143910000000     216542500000
                           1          2690242500000    3724755000000
                    مرد    0           620692500000     816250000000
                           1         10655860000000   13066397500000
لرستان              زن     0            17602500000      21125000000
                           1           163477500000     272087500000
                    مرد    0            43132500000      57347500000
                           1           472330000000     586655000000
مازندران            زن     0          2214062500000    3191890000000
                           1          6350395000000    8973870000000
                    مرد    0          8636020000000   10858427500000
                           1         19858682500000   23807300000000
مرکزی               زن     0           296465000000     451505000000
                           1          3218727500000    4649325000000
                    مرد    0          1393372500000    1844830000000
                           1         10871122500000   13616762500000
هرمزگان             زن     0            54240000000      72030000000
                           1          1007297500000    1282127500000
                    مرد    0           250432500000     269835000000
                           1          2834227500000    3254245000000
همدان               زن     0            13117500000      24537500000
                           1           256730000000     339372500000
                    مرد    0            69477500000      82300000000
                           1           516365000000     643672500000
چهارمحال وبختیاری   زن     0            23852500000      23492500000
                           1           166420000000     235877500000
                    مرد    0            61757500000      79387500000
                           1           437122500000     548622500000
کردستان             زن     0             8282500000       9065000000
                           1           116182500000     164875000000
                    مرد    0            40980000000      54465000000
                           1           465720000000     551487500000
کرمان               زن     0          1254465000000    1753720000000
                           1          7290845000000    9777510000000
                    مرد    0          3894585000000    4800607500000
                           1         20233347500000   23768960000000
کرمانشاه            زن     0            46410000000      62722500000
                           1           341167500000     480610000000
                    مرد    0           327467500000     449050000000
                           1          1411060000000    1703740000000
کهگیلویه و بویراحمد زن     0            23742500000      31952500000
                           1           138662500000     208132500000
                    مرد    0            86350000000     105952500000
                           1           459020000000     534842500000
گلستان              زن     0           534367500000     782217500000
                           1          2583012500000    3793300000000
                    مرد    0          2092320000000    2593085000000
                           1          7070132500000    8555657500000
گیلان               زن     0           931777500000    1327537500000
                           1          5327442500000    7222965000000
                    مرد    0          3860947500000    4680025000000
                           1         15891052500000   18912372500000
یزد                 زن     0            41260000000      53877500000
                           1           494467500000     685410000000
                    مرد    0           189052500000     237090000000
                           1          1375540000000    1636795000000

                                            Variz97         VariziAll
ProvinceName        Gender IsUrban
آذربایجان شرقی      زن     0          2137575000000     3851740000000
                           1         18658527500006    35740950000006
                    مرد    0         15753080000010    28303130000010
                           1        103508505000108   176192862500108
آذربایجان غربی      زن     0          2089117500000     3801727500000
                           1         12170870000006    22463562500006
                    مرد    0         19474102500015    33338700000015
                           1         67452230000061   113347797500061
اردبیل              زن     0           558340000000     1093030000000
                           1          4080285000001     7727180000001
                    مرد    0          4716452500004     8543547500004
                           1         21971652500017    38718312500017
اصفهان              زن     0          3192767500003     6072857500003
                           1         39049242500021    73159960000021
                    مرد    0         11552480000004    22061382500004
                           1        150711575000182   260189727500182
البرز               زن     0           800502500000     1616047500000
                           1         12453777500002    24242572500002
                    مرد    0          3061407500002     5223142500002
                           1         46199197500052    77068520000052
ایلام               زن     0             4942500000        9990000000
                           1            84905000000      156107500000
                    مرد    0            34252500000       79115000000
                           1           168810000000      303432500000
بوشهر               زن     0            45160000000       99365000000
                           1           581757500000     1123880000000
                    مرد    0           621982500000      999725000000
                           1          2022680000001     3537047500001
تهران               زن     0         10253515000002    19165397500002
                           1        197881407500136   359916455000136
                    مرد    0         39113915000052    64980920000052
                           1        783692352501519  1211848195001519
خراسان جنوبی        زن     0           586585000000     1168095000000
                           1          2820097500000     5712987500000
                    مرد    0          2794287500001     5377570000001
                           1         10888422500004    20709512500004
خراسان رضوی         زن     0          5128022500001     9828767500001
                           1         36904525000013    70768667500013
                    مرد    0         22928377500009    41101072500009
                           1        153954075000163   261600427500163
خراسان شمالی        زن     0           731017500000     1370087500000
                           1          3565055000001     6926827500001
                    مرد    0          2671040000000     5178340000000
                           1         11318982500001    21043957500001
خوزستان             زن     0          3199897500002     6055062500002
                           1         21794667500006    43174607500006
                    مرد    0         14214005000007    26599360000007
                           1         87302372500086   155350817500086
زنجان               زن     0            23407500000       48960000000
                           1           494532500000      990407500000
                    مرد    0            73600000000      167615000000
                           1          1849745000002     3197467500002
سمنان               زن     0            65267500000      118495000000
                           1           972752500000     1787915000000
                    مرد    0           290977500000      488065000000
                           1          2612847500002     4706545000002
سیستان و بلوچستان   زن     0            58815000000      107367500000
                           1           662242500000     1304872500000
                    مرد    0           290905000000      479600000000
                           1          1842017500000     3361685000000
فارس                زن     0          4758040000001     9313907500001
                           1         40620627500016    75536482500016
                    مرد    0         19657102500011    36560155000011
                           1        140392240000162   235505385000162
قزوین               زن     0            83757500000      170467500000
                           1          1288702500000     2596230000000
                    مرد    0           592237500002      957737500002
                           1          4905642500006     8387320000006
قم                  زن     0           415842500000      776295000000
                           1          7535635000003    13950632500003
                    مرد    0          1732410000001     3169352500001
                           1         34238760000037    57961017500037
لرستان              زن     0            37392500000       76120000000
                           1           472852500000      908417500000
                    مرد    0           129910000000      230390000000
                           1          1139645000000     2198630000000
مازندران            زن     0          6011742500001    11417695000001
                           1         16004557500003    31328822500003
                    مرد    0         23113175000011    42607622500011
                           1         60434400000060   104100382500060
مرکزی               زن     0           839737500000     1587707500000
                           1          8201537500002    16069590000002
                    مرد    0          3411792500000     6649995000000
                           1         31001462500026    55489347500026
هرمزگان             زن     0           112570000000      238840000000
                           1          2492105000001     4781530000001
                    مرد    0           476840000000      997107500000
                           1         10259740000021    16348212500021
همدان               زن     0            40272500000       77927500000
                           1           691152500000     1287255000000
                    مرد    0           156235000000      308012500000
                           1          1719037500001     2879075000001
چهارمحال وبختیاری   زن     0            35967500000       83312500000
                           1           347477500000      749775000000
                    مرد    0           140402500000      281547500000
                           1          1052495000001     2038240000001
کردستان             زن     0            13275000000       30622500000
                           1           591887500002      872945000002
                    مرد    0           174172500001      269617500001
                           1          1428775000002     2445982500002
کرمان               زن     0          2954657500000     5962842500000
                           1         17224962500005    34293317500005
                    مرد    0          8714812500002    17410005000002
                           1         52562840000038    96565147500038
کرمانشاه            زن     0            97295000000      206427500000
                           1          1123327500001     1945105000001
                    مرد    0           797937500000     1574455000000
                           1          3864932500000     6979732500000
کهگیلویه و بویراحمد زن     0            42670000000       98365000000
                           1           265842500000      612637500000
                    مرد    0           211537500000      403840000000
                           1          1053277500001     2047140000001
گلستان              زن     0          1551032500000     2867617500000
                           1          7537727500002    13914040000002
                    مرد    0          5204517500002     9889922500002
                           1         20726495000021    36352285000021
گیلان               زن     0          2268620000001     4527935000001
                           1         14195677500007    26746085000007
                    مرد    0         11401847500011    19942820000011
                           1         48040817500040    82844242500040
یزد                 زن     0            78692500000      173830000000
                           1          1407602500000     2587480000000
                    مرد    0           513260000001      939402500001
                           1          4124220000005     7136555000005

به تفکیک سال

In [51]:
varizi95 = data[["Variz95"]]
varizi96 = data[["Variz96"]]
varizi97 = data[["Variz97"]]

In [52]:
varizi95

            Variz95
0        1025000000
1         332500000
2         600000000
3        2750000000
4          75000000
...             ...
1456225           0
1456226           0
1456227           0
1456228           0
1456229           0

[1456230 rows x 1 columns]

In [54]:
varizi96

            Variz96
0         550000000
1         950000000
2        1375000000
3        2250000000
4          72500000
...             ...
1456225           0
1456226           0
1456227           0
1456228           0
1456229           0

[1456230 rows x 1 columns]

In [53]:
varizi97

            Variz97
0         375000000
1         550000000
2        8500000000
3         950000000
4         202500000
...             ...
1456225           0
1456226  2250000000
1456227           0
1456228           0
1456229           0

[1456230 rows x 1 columns]

به تفکیک استان

In [57]:
data_tafkik_ostan = data.groupby(by=["ProvinceName"])[["VariziAll"]]

In [59]:
data_tafkik_ostan.sum().sort_values(ascending=False, by=["VariziAll"])

                            VariziAll
ProvinceName
تهران                1655910967501709
خراسان رضوی           383298935000186
اصفهان                361483927500210
فارس                  356915930000190
آذربایجان شرقی        244088682500124
خوزستان               231179847500101
مازندران              189454522500075
آذربایجان غربی        172951787500082
کرمان                 154231312500045
گیلان                 134061082500059
البرز                 108150282500056
مرکزی                  79796640000028
قم                     75857297500041
گلستان                 63023865000025
اردبیل                 56082070000022
خراسان شمالی           34519212500002
خراسان جنوبی           32968165000005
هرمزگان                22365690000022
قزوین                  12111755000008
یزد                    10837267500006
کرمانشاه               10705720000001
سمنان                   7101020000002
بوشهر                   5760017500001
سیستان و بلوچستان       5253525000000
همدان                   4552270000001
زنجان                   4404450000002
کردستان                 3619167500005
لرستان                  3413557500000
کهگیلویه و بویراحمد     3161982500001
چهارمحال وبختیاری       3152875000001
ایلام                    548645000000

به تفکیک جنسیت

In [60]:
data_tafkik_gender = data.groupby(by=["Gender"])[["VariziAll"]]

In [112]:
data_tafkik_gender.sum().sort_values(ascending=False)

Gender
مرد    3455568270002765
زن      975394200000245
Name: VariziAll, dtype: int64

به تفکیک وضعیت شهر نشینی

In [113]:
data_tafkik_urban = data.groupby(by="IsUrban")["VariziAll"]
data_tafkik_urban.sum().sort_values(ascending=False)

IsUrban
1    3953832300002853
0     477130170000157
Name: VariziAll, dtype: int64

### میانگین قیمت ماشینهای هر خانواده به تفکیک شهر و تعداد اعضای خانواده

In [61]:
data["CarPriceMean"] = np.where(data["Cars_Count"] > 0, data["CarPrice_Sum"] / data["Cars_Count"], 0)

In [62]:
data_families = data.groupby(by="ParentId")

In [63]:
family_sizes = data_families.size()

In [64]:
data["FamilyMembers"] = data["ParentId"].map(lambda pid: family_sizes[pid])

In [66]:
data_group_city_family_member = data.groupby(by=["CountyName", "FamilyMembers"])

In [69]:
data_group_city_family_member[["CarPriceMean"]].mean()

                          CarPriceMean
CountyName FamilyMembers
آبادان     1              147197788.38
           2               97501721.69
           3              103210637.35
           4               98666793.04
           5               79838617.77
           6               73925002.56
           7               59305941.28
           8               77272753.59
           11                     0.00
آباده      1              181554904.83
           2              167499723.39
           3              167253976.87
           4              156654403.72
           5              132039294.69
           6               65459996.79
           7                      0.00
آبدانان    1                      0.00
           2               72745635.25
           3                      0.00
           5                      0.00
           6                      0.00
آبیک       1              128466107.38
           2              107723245.64
           3              106986812.30
           4               84249132.99
...                                ...
گنبدکاووس  5               91082529.62
           6               73478537.39
           7               47439178.82
           8                      0.00
           9               42899040.00
           14              57471513.71
گچساران    1               61883847.16
           2              130980987.22
           3               93021229.69
           4              104270732.22
           5               74089786.33
           6               79926537.64
           7               52557894.43
           8              100544625.00
           9                      0.00
گیلانغرب   1               83030400.00
           7                      0.00
یزد        1              474265958.10
           2              176949858.19
           3              179471008.30
           4              178558795.54
           5              124826070.43
           6               96781803.86
           7              102784589.43
           9               55863612.22

[2871 rows x 1 columns]

به تفکیک شهر

In [70]:
data_tafkik_city_mean_car_price = data.groupby(by=["CountyName"])

In [71]:
data_tafkik_city_mean_car_price[["CarPriceMean"]].mean().sort_values(ascending=False, by=["CarPriceMean"])

                  CarPriceMean
CountyName
تهران             340881191.97
جاسک              261715734.79
شمیرانات          258484351.49
بندرعباس          257381140.67
بندرلنگه          237700278.94
جم                226912442.23
دلفان             223604400.00
اصفهان            212497961.60
زنجان             208714927.46
شیراز             205456925.91
قروه              200883619.67
سنندج             200729769.51
سراوان            200487530.11
یزد               184021153.71
همدان             183994770.64
مریوان            182065620.07
محلات             180783105.30
کرمان             179340493.11
بو یین و میاندشت  179294825.25
سیرجان            178369556.44
پارسیان           177672399.29
دماوند            177071079.71
شهربابک           176960869.44
نور               167898451.31
قزوین             165497184.74
بابلسر            161632336.77
کنگاور            160772983.88
مشهد              159950968.12
فردیس             159566820.35
رشت               155514023.50
لاهیجان           155145673.48
سمنان             155028602.25
بندرانزلی         154523451.39
آباده             154446846.16
شهرکرد            154068566.81
ایلام             152801276.65
چالوس             152107648.11
رفسنجان           152080832.88
گرگان             151990083.47
چابهار            151808996.65
دلیجان            150986566.62
خاش               150642202.47
دهلران            149972918.95
ساری              149862415.64
کرج               148115164.33
ساوجبلاغ          147469250.17
شاهرود            146604063.64
کنگان             146522150.37
نوشهر             145294297.50
نایین             144638428.09
اسلام آبادغرب     144041882.92
گلپایگان          142578523.13
بابل              142521257.74
ماکو              142444951.39
خاتم              142081340.79
بویراحمد          140078480.42
اراک              140038866.24
آمل               138591003.58
ارومیه            137121821.41
قایم شهر          136462558.42
قم                136260932.75
لامرد             136260241.12
تبریز             136240237.99
تنکابن            134918424.92
کاشان             134910816.84
ارسنجان           134689170.16
بیرجند            134489280.60
سرباز             132958343.56
شهرضا             131894428.98
لارستان           130957645.59
بهبهان            130328570.10
فردوس             129793410.65
محمودآباد         129482108.28
بانه              129054067.32
کرمانشاه          128855565.58
خنج               128773550.16
فریدونکنار        128491220.79
ساوه              126935198.27
ورامین            126299097.93
شهریار            125887454.95
دره شهر           124725963.85
گناباد            124253229.69
سلسله             124134333.33
رامسر             124104867.36
خرم آباد          122279443.11
دیلم              121251393.58
جهرم              120859193.89
گرمسار            120840699.82
خمینی شهر         120030198.57
عباس آباد         119607532.41
نجف آباد          119165653.94
اردبیل            118745344.12
طبس               118180416.37
امیدیه            117726480.90
زاهدان            115925179.10
دامغان            115336052.26
اهواز             114519518.27
پردیس             114515849.63
رودسر             114349472.09
نظرآباد           114078773.33
بجنورد            113480170.18
کازرون            113080747.15
گراش              112785825.12
قصرشیرین          112525963.17
لنگرود            112309321.17
بیجار             111889070.67
بم                111825050.08
ابهر              111671362.98
اسلامشهر          111651038.95
کهگیلویه          111569949.23
جلفا              111505583.28
ایرانشهر          111000481.12
گناوه             110846450.56
دشتی              110642280.76
اقلید             110240340.79
نطنز              110184765.75
زرند              110088292.16
نقده              109884937.38
مرودشت            109729297.12
قشم               109719633.63
رباطکریم          109563554.93
بوشهر             109548500.85
آغاجاری           109227947.30
بافت              108394917.81
میناب             108219382.02
ترکمن             107694529.76
سبزوار            107441876.86
سنقر              107196247.59
کنارک             107176528.22
چایپاره           107019943.11
خمین              106937419.80
بردسیر            106602694.40
سوادکوه شمالی     106171800.58
فلاورجان          105893841.67
آستارا            105459585.95
ری                105331631.67
قاینات            105290708.89
ملایر             104222578.85
خرم بید           103830326.76
فراشبند           103445010.17
فیروزآباد         102719374.52
مهر               102621440.91
نهاوند            102609966.12
بجستان            102241102.20
ماسال             101971309.47
جیرفت             101795764.26
مرند              101122365.68
آبیک              101075581.67
میبد              100325544.45
نیشابور            99908902.82
خوانسار            99865665.11
دیر                99744030.75
بهشهر              99011841.78
شاهین شهرومیمه     98879918.09
ایجرود             98287695.79
نی ریز             97931231.56
اردستان            97904399.65
رضوانشهر           97756102.43
تربت حیدریه        97386228.23
فسا                97382776.72
کمیجان             96858137.31
بافق               96598110.35
پاوه               96429638.48
فیروزکوه           96350501.82
جاجرم              95687223.71
آبادان             95669273.03
بهاباد             95436513.05
آشتیان             95050264.69
اشتهارد            94720308.75
استهبان            94673050.22
گنبدکاووس          94248969.91
الیگودرز           94108278.81
فارسان             94013363.14
پاکدشت             92908757.40
ایوان              92363724.50
اسدآباد            92352345.02
آستانه اشرفیه      92203275.30
شیروان             92129715.85
گچساران            91948341.69
تنگستان            91927969.05
عسلویه             91899490.02
لنجان              91072143.73
دزفول              91024464.20
شبستر              90923370.53
کوهدشت             90889574.50
کاشمر              90178128.40
انار               89877692.99
آذرشهر             89048621.86
بستک               88983513.73
ابرکوه             88174661.89
بروجن              88075731.57
قیروکارزین         87816721.46
بستان آباد         87514868.19
میانه              87455250.05
اسکو               87411081.97
بروجرد             87299611.91
جوانرود            86925057.54
خرمشهر             86663207.45
اسفراین            86597886.40
قدس                86405853.39
مهریز              86308973.56
خواف               86067598.10
تویسرکان           85953179.65
سرخه               85906843.97
کلیبر              85630546.38
میاندوآب           85586998.32
مسجدسلیمان         85049086.64
صومعه سرا          84913434.92
پیرانشهر           84900118.01
کردکوی             84677908.14
تایباد             84578614.38
کهنوج              84470321.62
عجب شیر            83931839.68
اندیمشک            83136931.18
سمیرم              82853505.61
مهاباد             82635231.92
زرندیه             82518635.76
داراب              82248361.74
بویین زهرا         82110860.53
لردگان             81765618.61
تفرش               81724635.87
مبارکه             81164492.60
هشترود             80804603.02
ازنا               80144306.55
رامهرمز            79598913.28
سیمرغ              79292073.93
شازند              79065785.97
اردکان             79027604.44
سقز                78955513.20
سپیدان             78442018.90
اهر                78253688.99
شوشتر              77813139.93
بندرماهشهر         77324183.15
فومن               77257436.02
تاکستان            77213615.56
پارس آباد          76902242.02
بوکان              76528540.94
سیاهکل             76371963.01
آزادشهر            75695003.26
سلماس              75202534.30
قوچان              75119644.19
سیریک              74805201.00
بوانات             74748468.05
سلطانیه            74690292.86
بندرگز             74335395.32
مهدی شهر           74130467.74
کوار               73840674.08
پیشوا              73724445.37
بناب               73591938.14
املش               73502987.98
سوادکوه            73442180.16
بشرویه             73358525.48
دهاقان             72981315.69
فریدونشهر          72405921.68
تیران وکرون        72036251.85
خوی                71838064.65
هندیجان            71600773.31
سراب               71313907.99
سرپل ذهاب          71029438.52
شوش                70755204.36
سرخس               70685654.96
زابل               70679887.23
دشتستان            70592934.34
راور               70543189.31
قرچک               70097428.90
خرامه              70028978.28
کلاله              69487586.47
درگز               69259265.54
خرمدره             68404402.02
ملکان              68268018.16
سردشت              68132742.98
مانه وسملقان       68122424.30
جویبار             67978794.15
شاهین دژ           67580281.52
هفتگل              67405228.53
فامنین             67212485.81
کوهبنان            67142590.08
اشنویه             66834204.48
چناران             66404210.06
مراغه              66299008.79
فاروج              66053975.73
فریمان             65984117.40
رودبار             65794762.52
چاراویماق          65261670.05
بیله سوار          64821192.07
نکا                64446747.51
ملارد              64420074.26
اشکذر              64341369.00
درمیان             63758908.61
خلخال              63529901.04
تفت                63250258.99
سربیشه             62829839.95
بردسکن             62670500.80
رودان              62458110.10
دنا                62420555.59
تربت جام           62242955.79
رامشیر             61686225.31
روانسر             61155055.05
دیواندره           60823303.80
خور و بیابانک      60334727.55
سامان              60248276.28
بدره               60000000.00
دورود              59727890.83
کبودرآهنگ          59226669.63
میاندورود          59178591.83
ایذه               59049454.92
نمین               58054163.04
شوط                57105316.68
کیار               56806013.79
آران وبیدگل        56665106.10
آوج                56456971.23
عنبرآباد           56137111.18
صحنه               55764267.69
خدابنده            55738544.86
منوجان             55158430.65
سروستان            53131037.30
تکاب               52472310.81
چادگان             52448255.00
ثلاث باباجانی      52252852.71
کلاردشت            52225006.57
طارم               52073916.08
چالدران            51879331.16
گرمه               49421763.72
آرادان             49194855.37
خنداب              48961713.74
نهبندان            48465462.77
چرام               48163040.92
گتوند              48041245.24
علی آباد           47854580.62
باغ ملک            47592946.06
دشت آزادگان        47409060.83
پاسارگاد           47385431.89
البرز              47368760.98
دوره               46482614.18
گلوگاه             46104812.51
سیب و سوران        46047171.25
ممسنی              45630680.17
سرعین              45122875.63
حاجی اباد          45031485.76
آق قلا             44750447.73
فراهان             43739372.10
طوالش              43629118.95
بن                 43334644.00
داورزن             43334541.51
برخوار             43130853.73
بهارستان           42913885.24
مینودشت            42859987.28
فریدن              42573799.15
شفت                41953570.77
ارزوییه            41816781.55
جوین               40985445.42
لالی               40943436.80
زیرکوه             40668938.04
هویزه              40076734.79
بینالود            40051388.51
رزن                39762799.81
هریس               39595841.47
گمیشان             39567040.29
گالیکش             39546043.83
ماهنشان            39480596.98
شادگان             39434924.48
خلیل آباد          39196222.24
رامیان             38034854.10
جغتای              36677176.94
رشتخوار            36577771.21
پلدختر             36127907.80
باخرز              35542756.35
زرین دشت           35469762.97
پلدشت              35461950.41
مشگین شهر          34771765.88
گیلانغرب           34596000.00
کوهرنگ             34333082.38
رستم               33874508.14
کوثر               33639064.19
گرمی               33144964.67
کامیاران           33140659.43
فاریاب             32964609.75
خداآفرین           32649580.98
هرسین              32529452.10
رودبارجنوب         31812485.59
نیر                30763625.20
مه ولات            30620315.22
نرماشیر            29941717.08
دهگلان             28506960.73
فهرج               28279652.73
رابر               28008715.98
خمیر               27900690.44
کلات               27865024.44
اندیکا             27377198.40
سرایان             26199494.36
باشت               25228563.57
بشاگرد             24683097.60
خوسف               22586810.43
زهک                21941391.39
قلعه گنج           20841921.55
زاوه               20837084.29
اردل               20551859.85
باوی               17520526.84
ریگان              17256092.55
خوشاب              16554063.03
حمیدیه             15508499.11
مراوه تپه          15392018.11
کارون              14432770.55
هیرمند             14266833.73
دلگان              13763450.81
آبدانان            13226479.14
ورزقان             13059486.69
بهار               11655907.21
طالقان             10408221.60
راز و جرگلان        6509852.71
فیروزه              6270335.15
سروآباد             5365890.78
نیمروز              4567951.81
میامی               2410635.34
ابوموسی                   0.00
دالاهو                    0.00
مهرستان                   0.00
مهران                     0.00
رومشکان                   0.00
هامون                     0.00
نیک شهر                   0.00
بهمیی                     0.00

به تفکیک تعداد اعضای خانواده

In [73]:
data_tafkik_family_member_count = data.groupby(by=["FamilyMembers"])
data_tafkik_family_member_count[["CarPriceMean"]].mean().sort_values(ascending=False, by=["CarPriceMean"])

               CarPriceMean
FamilyMembers
1              417099131.92
3              152773659.33
4              141090574.22
2              137489754.57
5              107252425.24
6               90307196.06
12              79351044.27
10              76622558.45
7               72275338.55
8               67825550.71
9               62166352.58
14              57471513.71
15              26811900.00
11              23927701.97